/* line 5, ../sass/style.scss */
body {
  line-height: 2em;
  color: #636262;
  font-family: 'Open Sans', serif;
  overflow-x: hidden;
}

/* line 12, ../sass/style.scss */
header, section, footer {
  font-size: 1.3em;
}

/* line 16, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Arvo', serif;
}

/* line 20, ../sass/style.scss */
h1 {
  font-size: 2em;
  line-height: 1.8em;
  font-family: 'Arvo', sans-serif;
}

/* line 26, ../sass/style.scss */
h2 {
  font-size: 1.8em;
  line-height: 1.6em;
  font-family: 'Arvo', sans-serif;
}

/* line 32, ../sass/style.scss */
h3 {
  font-size: 1.4em;
  line-height: 1.4em;
  color: #778e1d;
  text-transform: uppercase;
  margin-top: 1.5em;
  font-family: 'Arvo', sans-serif;
}

/* line 41, ../sass/style.scss */
h4 {
  font-size: 1.2em;
  line-height: 1.4em;
  color: #778e1d;
  margin-top: 1.5em;
  font-family: 'Arvo', sans-serif;
}

/* line 49, ../sass/style.scss */
h5 {
  font-size: 1.2em;
  line-height: 1em;
}

/* line 54, ../sass/style.scss */
h6 {
  font-size: 1em;
  line-height: .8em;
}

/* line 59, ../sass/style.scss */
a {
  color: #d05b14;
  cursor: pointer;
}

/* line 64, ../sass/style.scss */
a:hover {
  color: #636262;
}

/* line 68, ../sass/style.scss */
ul, li {
  list-style-type: none;
}

/* line 72, ../sass/style.scss */
ul {
  margin: 0 0 20px 30px;
  padding: 0;
}

/* line 81, ../sass/style.scss */
header.main {
  background: url(images/bg-header-wrap.gif) repeat-x 0 0;
}
/* line 83, ../sass/style.scss */
header.main .container-common {
  background: url(images/bg-header.jpg) no-repeat 0 0;
}
/* line 86, ../sass/style.scss */
header.main .logo {
  float: left;
  margin: 28px 0 40px 23px;
  background: url(images/logo.png) no-repeat 0 0;
  display: block;
  width: 169px;
  height: 100px;
  text-indent: -9999px;
}

/* line 97, ../sass/style.scss */
header nav {
  font-family: 'Arvo', sans-serif;
  font-size: 1.15em;
}
@media (min-width: 40em) {
  /* line 97, ../sass/style.scss */
  header nav {
    max-width: 750px;
    float: right;
  }
  /* line 103, ../sass/style.scss */
  header nav flex
  ul {
    float: right;
    margin: 0;
    padding: 0;
    display: none;
  }
}
@media (min-width: 40em) and (min-width: 40em) {
  /* line 103, ../sass/style.scss */
  header nav flex
  ul {
    display: block;
  }
}
@media (min-width: 40em) {
  /* line 112, ../sass/style.scss */
  header nav flex
  ul li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    float: left;
    background: none;
    margin: 0;
  }
  /* line 117, ../sass/style.scss */
  header nav flex
  ul li.last a {
    padding: 30px 0px 30px 15px;
  }
  /* line 121, ../sass/style.scss */
  header nav flex
  ul .active a {
    color: #4e4e50;
  }
  /* line 125, ../sass/style.scss */
  header nav flex
  ul.top a {
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: .75em;
  }
  /* line 133, ../sass/style.scss */
  header nav flex
  ul.main a {
    display: block;
    padding: 23px 15px;
  }
  /* line 139, ../sass/style.scss */
  header nav .mobile-button {
    display: none;
  }
}

/* line 145, ../sass/style.scss */
.slidebar {
  right: -250px;
  transition: right .7s ease-out;
  position: absolute;
  width: 250px;
  z-index: 9999;
}
/* line 151, ../sass/style.scss */
.slidebar.active {
  right: 0;
}
/* line 154, ../sass/style.scss */
.slidebar .is-open
.inner-btn {
  background: none;
}
/* line 158, ../sass/style.scss */
.slidebar .is-open
.inner-btn::before, .slidebar .is-open
.inner-btn::after {
  top: 20px;
  -webkit-transition: all 0.4s 0.2s ease-in-out;
  transition: all 0.4s 0.2s ease-in-out;
}
/* line 163, ../sass/style.scss */
.slidebar .is-open
.inner-btn::before {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 168, ../sass/style.scss */
.slidebar .is-open
.inner-btn::after {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 175, ../sass/style.scss */
.slidebar .srt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 186, ../sass/style.scss */
.slidebar .mobile-button {
  background: #d05b14;
  position: absolute;
  top: 70px;
  left: -50px;
  width: 35px;
  height: 34px;
  -webkit-backface-visibility: hidden;
  z-index: 5;
  padding: 5px;
}
@media (min-width: 40em) {
  /* line 186, ../sass/style.scss */
  .slidebar .mobile-button {
    display: none;
  }
}
/* line 201, ../sass/style.scss */
.slidebar .inner-btn {
  background: white;
  display: block;
  height: 5px;
  margin-top: 14px;
  width: 35px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 209, ../sass/style.scss */
.slidebar .inner-btn::before, .slidebar .inner-btn::after {
  background: white;
  content: "";
  display: block;
  height: 5px;
  position: absolute;
  width: 35px;
  z-index: -1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
/* line 219, ../sass/style.scss */
.slidebar .inner-btn::before {
  top: 9px;
}
/* line 222, ../sass/style.scss */
.slidebar .inner-btn::after {
  top: 29px;
}

/* line 231, ../sass/style.scss */
span.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

/* line 237, ../sass/style.scss */
section.featured {
  background: #2f2c26;
}

/* line 241, ../sass/style.scss */
section.featured .container-common {
  height: 307px;
  position: relative;
}

/* line 246, ../sass/style.scss */
.page-home .container-slider {
  height: 286px;
  border: 5px solid #ffffff;
  top: -28px;
  position: absolute;
  width: 950px;
}

/* line 254, ../sass/style.scss */
.container-slider ul.pagination {
  padding: 13px 0 0;
  margin: 0px auto 0;
  width: 110px;
}

/* line 260, ../sass/style.scss */
.container-slider ul.pagination a {
  display: block;
  width: 13px;
  height: 13px;
  padding: 4px;
  background: url(images/dot-gray.png) no-repeat center center;
  text-indent: -9999px;
}

/* line 269, ../sass/style.scss */
.container-slider ul.pagination li.current a, .container-slider ul.pagination a:hover {
  background: url(images/dot-orange.png) no-repeat center center;
}

/* line 273, ../sass/style.scss */
.container-slider ul.pagination li {
  float: left;
  margin: 0;
  padding: 0;
  background: none;
}

/* line 280, ../sass/style.scss */
section.content {
  background: url(images/dots-footer.png) repeat-x 0 bottom;
  margin: 0 0 25px;
}

/* line 289, ../sass/style.scss */
section.content li {
  background: url(images/bullet-orange.png) no-repeat 0 9px;
  padding: 0 0 0 10px;
}

/* line 294, ../sass/style.scss */
section.content aside li {
  background: none;
  padding: 0;
}

/* line 299, ../sass/style.scss */
.page-home section.content {
  padding: 25px 0 50px;
}

/* line 303, ../sass/style.scss */
.page-home section.content article {
  padding: 0;
  float: left;
  width: 300px;
  margin-right: 30px;
}

/* line 310, ../sass/style.scss */
.page-home section.content article.last {
  margin: 0;
}

/* line 314, ../sass/style.scss */
.page-home section.content p {
  margin: 1em 0;
}

/* line 318, ../sass/style.scss */
.btn-more {
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  padding: 1px 25px 5px 0;
  background: url(images/arrow-orange.png) no-repeat right 0;
  font-family: 'Arvo', serif;
}

/* line 327, ../sass/style.scss */
.btn-more:hover {
  background: url(images/arrow-orange.png) no-repeat right -100px;
}

/* line 331, ../sass/style.scss */
.btn-back {
  font-size: 1em;
  line-height: 1em;
  text-transform: uppercase;
  padding: 1px 0px 5px 25px;
  background: url(images/arrow-orange-back.png) no-repeat left 0;
  font-family: 'Arvo', serif;
}

/* line 340, ../sass/style.scss */
.btn-back.right {
  float: right;
}

/* line 344, ../sass/style.scss */
.btn-back:hover {
  background: url(images/arrow-orange-back.png) no-repeat left -100px;
}

/* line 348, ../sass/style.scss */
.page-home .testimonial blockquote {
  padding: 0 0 20px 50px;
  background: url(images/quote.png) no-repeat 0 3px;
}

/* line 353, ../sass/style.scss */
.testimonial h4 {
  font-weight: bold;
  font-style: italic;
  margin: 0;
}

/* line 359, ../sass/style.scss */
footer {
  padding: 0 0 40px;
}

/* line 363, ../sass/style.scss */
footer h3 {
  font-family: 'Arvo', serif;
}

/* line 367, ../sass/style.scss */
footer .col1, footer .col2, footer .col3 {
  float: left;
  width: 300px;
  margin-right: 30px;
}

/* line 373, ../sass/style.scss */
footer .col2 {
  text-align: center;
}

/* line 377, ../sass/style.scss */
footer .col3 {
  text-align: right;
  margin: 0;
}

/* line 382, ../sass/style.scss */
footer .col1 ul, footer .col1 li {
  margin: 0;
  padding: 0;
}

/* end HOME */
/* begin INSIDE */
/* line 391, ../sass/style.scss */
section.title {
  background: #2f2c28;
}

/* line 395, ../sass/style.scss */
section.title .container-common {
  background: url(images/bg-title.gif) repeat-y 0 0;
}

/* line 399, ../sass/style.scss */
section.title h2 {
  padding: 33px 65px 33px 65px;
  color: #ffffff;
  margin: 0 0 0 1px;
  font-family: 'Arvo', serif;
  background: #2F2C28;
  float: left;
}

/* line 408, ../sass/style.scss */
.page-inside section.content {
  padding: 45px 0;
}

/* line 415, ../sass/style.scss */
body.two-col section .main {
  float: left;
  width: 540px;
  margin: 0 30px 0 0;
}

/* line 421, ../sass/style.scss */
body.two-col section aside {
  float: left;
  width: 390px;
}

/* line 426, ../sass/style.scss */
section.content aside nav {
  background: #eeeeee;
  border: 5px solid #cdcdcd;
  padding: 20px;
  font-size: 1.1em;
  margin: 0 0 20px 0px;
}

/* line 434, ../sass/style.scss */
section.content aside nav ul {
  margin: 0;
  padding: 0;
}

/* line 439, ../sass/style.scss */
section.content aside nav li.active a {
  color: #4E4E50;
}

/* line 443, ../sass/style.scss */
.page-inside .container-slider img {
  border: 5px solid #cdcdcd;
}

/* line 447, ../sass/style.scss */
.page-inside .container-slider nav {
  margin: 8px auto 0;
  width: 110px;
}

/* line 452, ../sass/style.scss */
.page-inside .container-slider nav a {
  display: block;
  width: 13px;
  height: 13px;
  padding: 4px;
  background: url(images/dot-gray.png) no-repeat center center;
}

/* line 460, ../sass/style.scss */
.page-inside .container-slider li.active a, .page-inside .container-slider nav a:hover {
  background: url(images/dot-orange.png) no-repeat center center;
}

/* line 464, ../sass/style.scss */
.page-inside .container-slider nav ul {
  margin: 0;
  padding: 0;
}

/* line 469, ../sass/style.scss */
.page-inside .container-slider nav li {
  float: left;
  margin: 0;
}

/* line 474, ../sass/style.scss */
.page-inside .slides_container {
  min-height: 390px;
}

/* line 478, ../sass/style.scss */
.page-home .slides_container {
  min-height: 286px;
}

/* line 482, ../sass/style.scss */
section.content #gallery ul {
  padding: 0;
  margin: 0;
}

/* line 487, ../sass/style.scss */
section.content #gallery li {
  background: none;
  padding: 0;
  border: 5px solid #CDCDCD;
  float: left;
  margin: 0 15px 15px 0;
}

/* line 495, ../sass/style.scss */
section.content #gallery li:hover {
  border: 5px solid #636262;
}

/* line 499, ../sass/style.scss */
section.content #gallery li.first {
  clear: left;
}

/* line 503, ../sass/style.scss */
section.content #gallery li.last {
  margin: 0 0 15px 0;
}

/* line 507, ../sass/style.scss */
section.content #gallery li a img {
  display: block;
}

/* line 512, ../sass/style.scss */
section.content #gallery .col2 img {
  width: 177px;
}

/* line 516, ../sass/style.scss */
.lightbox-nav-off #lightbox-nav-btnNext, .lightbox-nav-off #lightbox-nav-btnPrev {
  display: none !important;
}

/* style for horizontal nav */
/* line 525, ../sass/style.scss */
#navigation_horiz li {
  position: relative;
}

/* line 529, ../sass/style.scss */
#navigation_horiz ul.dropdown {
  position: absolute;
  opacity: .9;
  background: #d36522 url(images/bg-dropdown-line.gif) repeat-y 16px 0;
  padding: 10px 0 10px 0;
  z-index: 100;
  top: 64px !important;
  min-width: 210px;
  font-size: .9em;
  line-height: 1.4em;
}

/* line 541, ../sass/style.scss */
#navigation_horiz ul.dropdown li {
  float: none;
  margin: 0;
}

/* line 546, ../sass/style.scss */
#navigation_horiz ul.dropdown li a {
  padding: 6px 20px 6px 30px;
  color: #fff;
}

/* line 551, ../sass/style.scss */
#navigation_horiz ul.dropdown li a:hover {
  background: #df8d5c;
}

/* line 555, ../sass/style.scss */
table {
  margin-bottom: 30px;
  border-bottom: 5px solid #d05b14;
}

/* line 560, ../sass/style.scss */
.schedule table {
  width: 100%;
}

/* line 564, ../sass/style.scss */
table td, table th {
  padding: 15px 10px;
  text-align: left;
}

/* line 569, ../sass/style.scss */
table tr.even {
  background: #e8e5df;
}

/* line 573, ../sass/style.scss */
table th, table td.first {
  font-size: 1.1em;
  font-weight: bold;
}

/* line 578, ../sass/style.scss */
.schedule h3, .rates h3 {
  margin: 0;
  padding-left: 10px;
}

/* line 583, ../sass/style.scss */
.schedule2 h3 {
  margin: 0;
  padding-left: 101px;
}

/* line 588, ../sass/style.scss */
body.one-col article {
  margin-bottom: 50px;
}

/* line 592, ../sass/style.scss */
.rates table {
  width: 70%;
}

/* line 596, ../sass/style.scss */
table tr.divider {
  border-bottom: 5px solid #d05b14;
}

/* line 600, ../sass/style.scss */
article.content-2col .col1, article.content-2col .col2 {
  float: left;
  width: 460px;
}

/* line 605, ../sass/style.scss */
article.content-2col .col1 {
  margin-right: 40px;
}

/* line 609, ../sass/style.scss */
.schedule2 table {
  width: 80%;
}

/* line 613, ../sass/style.scss */
.slides_container {
  background: none !important;
}

/* line 617, ../sass/style.scss */
form table {
  border: none;
  width: 80%;
}

/* line 622, ../sass/style.scss */
form table td:nth-child(1) {
  width: 40%;
}

/* line 626, ../sass/style.scss */
form table td {
  padding: 10px 0;
}

/* line 630, ../sass/style.scss */
form .field_shortest {
  width: 80px;
}

/* line 634, ../sass/style.scss */
form .field_med {
  width: 180px;
}

/* line 638, ../sass/style.scss */
form .field_long {
  width: 280px;
}

/* line 642, ../sass/style.scss */
form textarea {
  width: 280px;
}

/* line 646, ../sass/style.scss */
input[type=text], textarea {
  border: 2px solid #b8b8b8;
  padding: 5px;
}

/* line 651, ../sass/style.scss */
.required_text {
  background-image: url("images/asterisk.gif");
  background-position: 15px 7px;
  background-repeat: no-repeat;
  height: 20px;
  width: 25px;
}

/* line 659, ../sass/style.scss */
.red {
  color: #D90000;
}

/* line 663, ../sass/style.scss */
.three-col img {
  width: 110px;
}

/* line 667, ../sass/style.scss */
.temp {
  float: none;
  margin-left: 570px;
}

/* line 672, ../sass/style.scss */
.icons-social .fb {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 50px;
  width: 50px;
  background-color: #e5dfd4;
  background-image: url("images/sprite-icons.png");
  background-position: 17px 11px;
  background-repeat: no-repeat;
}

/* line 685, ../sass/style.scss */
.icons-social a:hover {
  background-color: #2f2c26;
}
