@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/media_query';
@import 'partials/menu';
@import 'partials/invoice';

body {
	line-height: 2em;
	color: #636262;
	font-family: 'Open Sans', serif;
	overflow-x: hidden;
}

header, section, footer {
	font-size: 1.3em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arvo', serif;
}

h1 {
	font-size:2em;
	line-height:1.8em;
	font-family: 'Arvo', sans-serif;
}

h2 {
	font-size: 1.8em;
	line-height: 1.6em;
	font-family: 'Arvo', sans-serif;
}

h3 {
	font-size: 1.4em;
	line-height: 1.4em;
	color: #778e1d;
	text-transform: uppercase;
	margin-top: 1.5em;
	font-family: 'Arvo', sans-serif;
}

h4 {
	font-size: 1.2em;
	line-height: 1.4em;
	color: #778e1d;
	margin-top: 1.5em;
	font-family: 'Arvo', sans-serif;
}

h5 {
	font-size:1.2em;
	line-height: 1em;
}

h6 {
	font-size:1em;
	line-height:.8em;
}

a {
	color: #d05b14;
	cursor: pointer;
	transition: all 0.35s ease;
	-webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
}

a:hover {
	color: #636262;
}

ul, li {
	list-style-type: none;
}

ul {
	margin: 0 0 20px 30px;
	padding: 0;	
}

blockquote {
}

.container-common {
	@include bp(bp-large) {
		width: 960px;
		margin:0 auto;
	}
}

header.main {
	background: url(images/bg-header-wrap.gif) repeat-x 0 bottom;	
	border-bottom: 5px solid white;
	.container-common {
		background: url(images/bg-header.jpg) no-repeat 0 bottom;	
		min-height: 150px;
	}
	.logo {
		float: left;
		margin: 28px 0 0 23px;
	}
}

.page-home header.main .logo {
	margin: 28px 0 40px 23px;
}

span.hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

section.featured {
	min-height: 296px;
	background: $c-chocolate;
	.container-common {
		position: relative;
	}
	.container-slider {		
		top: -28px;
		position: absolute;
		width: 100%;
		background: white;
			@include bp(bp-medium) {
			max-width: 950px;
		}
	}
	.slides_container {
		overflow: visible !important;
	}
	.slides_control {
		min-width: 1400px !important;
		max-height: 293px !important;
	}
	.slide {
	}
	img {
		@include borderbox;
		width: 100%;
		height: auto;
		max-height: 286px;
		border: 5px solid #ffffff;
	}
	li {
		margin: 0;
		padding: 0;
	}
	.rslides_tabs {
		padding: 10px 0 0;
		height: 33px;
		text-align: center;
		margin: 0;
		li {
			margin: 0;
			padding: 0;
			background: none;
			display: inline-block;
		}
		a {
			display: block;
			width: 13px;
			height: 13px;
			padding: 19px 4px 4px;
			background: url(images/dot-gray.png) no-repeat center center;
			text-indent: -9999px;
		}
		.rslides_here a, a:hover {
			background: url(images/dot-orange.png) no-repeat center center;
		}
	}	
}

section.content {
	background: url(images/dots-footer.png) repeat-x 0 bottom;
	margin: 0 0 25px;
}

section.content ul {
	
}

section.content li {
	background: url(images/bullet-orange.png) no-repeat 0 9px;
	padding: 0 0 0 10px;
}

section.content aside li {
	background: none;
	padding: 0;
}

.page-home {
	section.content {
		padding: 25px 0 50px;
		article {
			padding: 0 2em 1em;
			img {
				max-width: 100%;
			}
			@include bp(bp-large) {
				padding: 0;
				float: left;
				width: 300px;
				margin-right: 30px;
			}
			&.last {
				margin: 0;	
			}
		}
		p {
			margin: 1em 0;
		}
	}
}

.btn-more {
	font-size: 1em;
	line-height: 1em;
	text-transform: uppercase;
	padding: 1px 25px 5px 0;
	background: url(images/arrow-orange.png) no-repeat right 0;
	font-family: 'Arvo', serif;
	transition: none;
	&:hover {
	background: url(images/arrow-orange.png) no-repeat right -100px;
	}
}

.btn-back {
	font-size: 1em;
	line-height: 1em;
	text-transform: uppercase;
	padding: 1px 0px 5px 25px;
	background: url(images/arrow-orange-back.png) no-repeat left 0;
	font-family: 'Arvo', serif;
	transition: none;
}

.btn-back.right {
	float: right;
}

.btn-back:hover {
	background: url(images/arrow-orange-back.png) no-repeat left -100px;
}

.page-home .testimonial blockquote {
	padding: 0 0 20px 50px;
	background: url(images/quote.png) no-repeat 0 3px;
}

.testimonial h4 {
	font-weight: bold;
	font-style: italic;
	margin: 0;
}

footer {
	padding: 0 0 40px;	
	overflow: auto;
	.container-common {
		@include flexbox-container();
		flex-flow: row wrap;
		-webkit-flex-flow: row wrap;
	}
	h3 {
		font-family: 'Arvo', serif;
	}
	.col1 {
		@include flexbox-order(2);
		@include flex(1 100%);
		ul, li {
			margin: 0;	
			padding: 0;
		}
		@include bp(bp-xsmall) {
			flex: 1 auto;
		}
		margin-left: 30px;
		@include bp(bp-large) {
			margin: 0;
		}
	}
	.col2 {

		@include flexbox-order(1);
		@include flex(1 100%);
		text-align: center;	

		@include bp(bp-xsmall) {
		}
		@include bp(bp-large) {
		}
	}
	.col3 {
		@include flexbox-order(3);
		@include flex(1 100%);
		margin-left: 30px;
		@include bp(bp-xsmall) {
			flex: 1 auto;
			-webkit-box-flex: 1 auto;
			text-align: right;
			margin-right: 30px;
		}
		@include bp(bp-large) {
			margin: 0;
		}
	}
}

/* end HOME */

/* begin INSIDE */

section.title {
	background: #2f2c28;
}

section.title .container-common {
	background: url(images/bg-title.gif) repeat-y 0 0;
}

section.title h2 {
	padding: 33px 65px 33px 35px;
	color: #ffffff;
	margin: 0 0 0 1px;
	font-family: 'Arvo', serif;
	background: #2F2C28;
	float: left;
	@include bp(bp-large) {
		padding: 33px 65px 33px 65px;
	}
}

.page-inside section.content {
	padding: 45px 30px;
	@include bp(bp-large) {
		padding: 45px 0;
	}
}

body.one-col .main {
}

body.two-col section .main {
	@include bp(bp-large) {
		float: left;
		width: 540px;
		margin: 0 30px 0 0;
	}
}

body.two-col section aside {
	img {
		max-width: 100%;
	}
	@include bp(bp-large) {
		float: left;
		width: 390px;
	}
}

section.content aside nav {
	display: none;
	@include bp(bp-small) {
		background: #eeeeee;
		border: 5px solid #cdcdcd;
		padding: 20px;
		font-size: 1.1em;
		margin: 0 0 20px 0px;
		display: block;
	}
}

section.content aside nav ul {
	margin: 0;
	padding: 0;
}

section.content aside nav li.active a {
	color: #4E4E50;
}

.page-inside .container-slider img {
	border: 5px solid #cdcdcd;
}

.page-inside .container-slider nav {
	margin: 8px auto 0;
	width: 110px;
}

.page-inside .container-slider nav a {
	display: block;
	width: 13px;
	height: 13px;
	padding: 4px;
	background: url(images/dot-gray.png) no-repeat center center;
}

.page-inside .container-slider li.active a, .page-inside .container-slider nav a:hover {
	background: url(images/dot-orange.png) no-repeat center center;
}

.page-inside .container-slider nav ul {
	margin: 0;
	padding: 0;
}

.page-inside .container-slider nav li {
	float: left;
	margin: 0;
}

.page-inside .slides_container {
	min-height: 390px;
}

section.content #gallery ul {
	padding: 0;
	margin: 0;
}

section.content #gallery li {
	background: none;
	padding: 0;
	border: 5px solid #CDCDCD;
	float: left;
	margin: 0 15px 15px 0;

	&:nth-child(3n) {
		margin-right: 0;
	}
}

section.content #gallery li:hover {
	border: 5px solid #636262;
}

section.content #gallery li.first {
	clear: left;
}

section.content #gallery li.last {
	margin: 0 0 15px 0;
}

section.content #gallery li a img {
	display: block;
	
}

section.content #gallery .col2 img {
	width: 177px;
}

.lightbox-nav-off #lightbox-nav-btnNext, .lightbox-nav-off #lightbox-nav-btnPrev {
	display: none !important;
}
 
/* style for horizontal nav */
#navigation_horiz {

}

#navigation_horiz li {
	position:relative
}

#navigation_horiz ul.dropdown {
	position:absolute; 
	opacity: .9;
	background: #d36522 url(images/bg-dropdown-line.gif) repeat-y 16px 0;
	padding: 10px 0 10px 0;
	z-index: 100;
	top: 64px !important;
	min-width: 210px;
	font-size: .9em;
	line-height: 1.4em;
	display: none;
}

#navigation_horiz ul.dropdown li {
	float: none;
	margin: 0;
}

#navigation_horiz ul.dropdown li a {
	padding: 6px 20px 6px 30px;
	color: #fff;
}

#navigation_horiz ul.dropdown li a:hover {
	background: #df8d5c;
}

table {
	margin-bottom: 30px;
	border-bottom: 5px solid #d05b14;
}

.schedule table {
	width: 100%;
}

table td, table th {
	padding: 15px 10px;
	text-align: left;
}

table tr.even {
	background: #e8e5df;
}

table th, table td.first {
	font-size: 1.1em;
	font-weight: bold;
}

.schedule h3, .rates h3 {
	margin: 0;
	padding-left: 10px;
}

.schedule2 h3 {
	margin: 0;
}

body.one-col {
	article {
		margin-bottom: 50px;
	}
}

.rates table {
	width: 70%;
}

table tr.divider {
	border-bottom: 5px solid #d05b14;
}

article.content-2col .col1, article.content-2col .col2 {
	float: left;
	width: 460px;
}

article.content-2col .col1 {
	margin-right: 40px;
}

.schedule2 table {
	width: 100%;
	@include bp(bp-large) {
		width: 80%;
	}
}

form.form-long {
	article {
		margin-bottom: 1.5em;
		&.full {
			float: none;
			width: 100%;
		}
	}
	label {
		width: 9em;
		padding-right: 1em;
	}
	.required_text {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: -25px;
			top: 4px;
		  background-image: url("images/asterisk.gif");
		  background-position: 15px 7px;
		  background-repeat: no-repeat;
		  height: 20px;
		  width: 25px;
		}
	}
	.field_shortest {
		width: 80px;
	}

	.field_med {
		width: 180px;
	}

	.field_long {
		width: 100%;
	}

	textarea {
		width: 100%;
	}

	input[type=text], textarea {
		border: 2px solid #b8b8b8;
		padding: 5px;
	}

	input[type=submit] {
		color: $c-orange;
		font-size: 1em;
		line-height: 1em;
		text-transform: uppercase;
		padding: 1px 25px 5px 0;
		background: url(images/arrow-orange.png) no-repeat right 0;
		font-family: 'Arvo', serif;
		transition: none;
		cursor: pointer;
		border: 0;
		&:hover {
			color: $c-darkgray;
			background: url(images/arrow-orange.png) no-repeat right -100px;
		}
	}

	@include bp(bp-xsmall) {
		label, article {
			float: left;
		}
		article {
			width: 60%;
		}
		label {
			clear: left;
			width: 30%;
			max-width: 17em;
		}
	}

	@include bp(bp-small) {
		article {
			width: 50%;
		}
		label {
			clear: left;
			width: 40%;
			max-width: 17em;
		}
		.field_long {
			width: 280px;
		}
		textarea {
			width: 280px;
		}
	}
}

.red {
    color: #D90000;
}

.three-col img {
	width: 110px;
}

.temp {
	float: none;
	margin-left: 570px;
}

.icons-social {
	a {
		display: inline-block;
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
		height: 50px;
		width: 50px;
		background-color: #e5dfd4;
		background-position: 50%;
		background-repeat: no-repeat;
	}

	.fb {
		background-image: url('../svg/icon-facebook.svg');
		background-size: 28%;
	}

	.instagram {
		background-image: url('../svg/icon-instagram.svg');
		background-size: 57%;
	}
}

.icons-social a:hover {
	background-color: #2f2c26;
}

#jquery-lightbox {
	a {
		transition: none;
	}
	@include bp(bp-lightbox) {
		#lightbox-container-image-box, img {
			width: 100% !important;
			height: auto !important;
		}
	}
}

/* begin SLIDESHOW */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

/* end SLIDESHOW */

.container-slider {
	margin-bottom: 20px;
}

.container-callout {

	&__stage {
		border: 5px solid #d35b1d;
	}

	&__text {
		padding: 20px;
		background-color: #d35b1d;
		color: white;
		font-family: 'Arvo', serif;
	}
}

.gallery {
	&--pad-top1 {
		padding-top: 80px;
	}
}

img {
	max-width: 100%;
}