
// Colors
$c-darkorange: #a4440a;
$c-orange: #d05b14;
$c-mediumorange: #de7433;
$c-lightorange: #f8aa7b;
$c-lighterorange: #f4e6dd;
$c-darkgray: #4e4e50;
$c-lightbeige: #e1dacc;
$c-chocolate: #2f2c26;


