
// Colors
$c-darkorange: #a4440a;
$c-orange: #d05b14;
$c-mediumorange: #de7433;
$c-lightorange: #f8aa7b;
$c-lighterorange: #f4e6dd;
$c-darkgray: #4e4e50;
$c-lightbeige: #e1dacc;
$c-chocolate: #2f2c26;

// Breakpoints
$bp-xsmaller: 320;
$bp-xsmall: 640;
$bp-small:	768;
$bp-medium: 960;
$bp-large:	1024;
$bp-xlarge: 1240;