
// Colors
$c-orange: #d05b14;
$c-lightorange: #f8aa7b;
$c-lighterorange: #f6cdb4;

// Breakpoints
$bp-xsmaller: 320;
$bp-xsmall: 640;
$bp-small:	768;
$bp-medium: 960;
$bp-large:	1024;
$bp-xlarge: 1240;